@import url('https://fonts.google.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-header {
    width: 100%;
    text-align: center;
    background-color: #85C700;
}

.image-header img {
    height: 100px;
}

nav {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    width: 25%;
    background-color: 	#0FB30F;
    text-align: center;
    padding: 15px;
    border: 0.5px solid black;
    font-size: 17px;
    font-weight: 540;
    color: white;
}

nav a:hover {
    background-color: #8BCC09;
}

a {
    text-decoration: none;
}

.news-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-sport {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 45px;
    width: 26%;
}

.news-sport img {
    width: 100%;

}

.bg-img {
    height: 150px;
    width: 80px 0;
    background-image: url(thumb_l_psh_00011162.jpg);
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px;
}

.about-us section {
    width: 35%;
    margin-right: 50px;
    margin-left: 50px;
}

body {
    background-color: #f8f8f8;
}

form {
    
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

fieldset {
    border: none;
}

input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
}

input:nth-last-child(1) {
    background-color: #1cbc11;
    width: 102%;
}

input:nth-last-child(1):hover {
    background-color: #14a20a;
}

textarea {
    min-width: 101%;
    min-height: 90px;
    resize: none;
    margin-bottom: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00AB00;
}

footer div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

footer div img{
    width: 60px;
    height: 40px;
    margin-top: 5px;
    margin: auto;
}

footer div a{
    color: white;
    text-align: center;
}

.text-foot {
    font-size: 0.7em;
}

@media (width < 720px) {
    .about-us section {
        width: 100%;
        margin-right: 50px;
        margin-left: 50px;
    }
}