@import url('https://fonts.cdnfonts.com/css/dm-sans');
@import url('https://fonts.cdnfonts.com/css/mulish');
body {
    background: linear-gradient(to bottom, #0774fa81 0%, #0773FA 30%);
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}

header {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 154px;
    margin-right: 145px;
}

a {
    text-decoration: none;
    color: white;
}

header div:nth-child(2) {
    width: 607px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 125.91px;
    margin-right: 134px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#but_buy {
    padding: 5px 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.how-to-buy {
    margin-top: 168px;
    text-align: center;
    font-size: 18px;
}

.how-to-buy h1{
    font-size: 51px;
    margin-bottom: 20px;
}

.htb-p {
    width: 689px;
    margin: auto;
    font-size: 21px;
}

.name-htb {
    font-size: 16px;
}

.htb-art {
    width: 455px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 141px;
}

.htb-art div{
    text-align: center;
}

.htb-art div:nth-child(1){
    margin-right: 82px;
    width: 194px;
}

.how-to-buy span {
    color: #033573;
}

.how-to-add {
    text-align: center;
    margin-top: 78px;
}

.how-to-add h1 {
    font-size: 44px;
}

.htaex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 889.32px;
    font-size: 18px;
    margin-bottom: 60px;
}

.htaex div:nth-child(1) {
    width: 379.32px;
    margin-right: 142.68;
}

.htaex div:nth-child(2) {
    width: 367.32px;
    margin-right: 142.68;
}

.htaex div img {
    margin: auto;
    margin-bottom: 25px;
}

.htaex div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.htaex div div img{
    margin-top: 0px;
    height: 72px;
}

.w-st-op {
    background-color: white;
    width: 100%;
    color: black;
}

.w-st-op h1 {
    padding-top: 31px;
    font-size: 44px;
    text-align: center;
}

.unh1 {
    width: 689px;
    margin:auto;
    font-size: 21px;
    margin-bottom: 57px;
}

table {
    width: 899px;
    margin:auto;
    font-size: 18px;
    border-spacing: 0px;
}

table tr {
    text-align: left;
}

table tr th img {
    margin-bottom: 14px;
}

table tr th{
    border-bottom: 1px solid #187bf565;
    padding: 15px;
}

.table-chcl {
    color: #187BF5;
}

.table-text {
    width: 255px;
}

table tr td{
    vertical-align: top;
    padding: 15px;
}

table tr:last-child td {
    border-bottom: 1px solid #187bf565;
}

.und-table {
    display: flex;
    flex-direction: row;
    margin-left: 282px;
    margin-top: 30px;
    padding-bottom: 75px;
}

.und-table img {
    margin-right: 10px;
    width: 19px;
    height: 19px;
}

.und-table p {
    margin-top: 0;
    width: 315px;
}

footer {
    font-family: 'DM Sans', sans-serif;
}

footer svg {
    margin-left: 159px;
    margin-top: 49px;
    margin-bottom: 51.4px;
}

.foot-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 277px;
    width: 832px;
    margin-bottom: 113px;
}

input {
    width: 285px;
    background-color: #0773FA;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #0D6BD8;
}

input::placeholder {
    color: #ffffff76;
}

button {
    width: 60px;
    height: 50px;
    background-color: #0D6BD8;
    border-radius: 5px;
    border: none;
    color: white;
}

.inp {
    display: flex;
    flex-direction: row;
}

.foot-div div:nth-child(n + 1) {
    font-size: 15px;
}

.soc-net {
    display: flex;
    flex-direction: row;
    margin-right: 168px;
    float: right;
}

.soc-net a {
    margin-right: 40px;
}

.rule {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 155px;
    font-size: 15px;
    padding-top: 67px;
}

.back-to-top {
    margin-top: 37px;
    margin-right: 28px;
    float: right;
    padding-bottom: 22px;
}

.decorate {
    position: absolute;
}